/* 

td {
    border-right: 2px solid #333;
    height: 40px;
    text-align: center;
    border-radius: 5px;
}
th{
    text-align: center;
    
}

table{
    border: 2px solid #333;   
    margin:auto;
    border-radius: 5px;
} */

.day{
    text-align: center;
}

.tableau{
    /* width: 25%; */
    margin: auto;
    width: 70%;
    border: 1px solid black;
    border-radius: 10px;
}


h4{
    text-align: center;
}

.morning{
    border-top: 1px solid black;
    border-right: 1px solid black;
    width: 100%;
    text-align: center;
}
.morning4{
    border-top: 1px solid black;
    width: 100%;
    text-align: center;
}

.container_day{
    display: flex;
    flex-direction: row;
  
}
