/* 

td {
    border-right: 2px solid #333;
    height: 40px;
    text-align: center;
    border-radius: 5px;
}
th{
    text-align: center;
    
}

table{
    border: 2px solid #333;   
    margin:auto;
    border-radius: 5px;
} */
.containerPillBox{
    background-color:#0596de ;
    opacity: 0.7;
    border-radius: 10px 10px 0 0;
}

.containerPillBox2 {
    background-color:rgb(255, 126, 0);
    opacity: 1;
    border-radius: 10px 10px 0 0;
  }

.day{
    text-align: center;
    margin-top: 50px;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

.tableau{
    /* width: 25%; */
    margin: auto;
    width: 70%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow:12px 12px 2px 1px rgba(0, 0, 255, .2); ;
    
}


.pillsName{
    margin-bottom: 0;
    text-align: center;
    color: white;
}

.morning{
    border-top: 1px solid black;
    border-right: 1px solid black;
    width: 100%;
    text-align: center;
    background-image: url('./assets/boite1.png');
    background-size: cover;
    background-repeat: no-repeat;
   
}
.morning4{
    border-top: 1px solid black;
    width: 100%;
    text-align: center;
    background-image: url('./assets/boite1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.container_day{
    display: flex;
    flex-direction: row;
  
}
.imagePills{
    animation: imagePills infinite 3s alternate 1s  ;
    pointer-events: none;
}

@keyframes imagePills {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(50deg);
    }
  }
  .imagePills1{
    animation: imagePills1 infinite 1s alternate   ;
    pointer-events: none;
}

@keyframes imagePills1 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-15deg);
    }
  }

  .imagePills2{
    animation: imagePills2 infinite  1s alternate 1s  ;
    pointer-events: none;
}

@keyframes imagePills2 {
    from {
      transform: rotate(-0.1turn);
    }
    to {
      transform: rotate(0deg);
    }
  }