#root{
    height:100%;
}
html, body{
    height:100%;
}
.fond{
    background-image: url("./asset/fond.png");   
    display: flex;
    background-position: center;
    background-size: 100% 70%;
    width:100%;
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.pillbox{
    margin-top: 280px;
}

.patient_info{
    margin-top: 540px; 
}

.order{
    margin-top: 100px; 
}

.chat{
    margin-top: 600px; 
}

.Appointment{
    margin-top: 150px; 
}